body {
    background-color: lightblue;
}

#name { 
    text-align: center;
    font-family: cursive;
}

.header {
    line-height: 1;
    border-style: double;   ;
    border-color: red;
    border-width: 5px;
    border-radius: 20px;
    background-color: rgb(255, 200, 100);
    padding: 10px;
    margin: 25px;
    margin-bottom: 50px;
    font-size: 1.8em;
}

div h2 {
    text-align: center;
    color: red; 
}

.bio {
    line-height: 1;
    border-style: dotted;   ;
    border-color: green;
    border-width: 5px;
    border-radius: 20px;
    background-color: lightgreen;
    padding: 20px;
    margin: 50px;
    margin-bottom: 50px;
    font-family: monospace;
    font-size: 1.5em;
}

div li {
    line-height: 1;
    border-style: solid;   ;
    border-radius: 10px;
    background-color: rgb(60, 240, 60);
    padding: 5px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skills {
    line-height: 1;
    border-style: dotted;   ;
    border-color: green;
    border-width: 5px;
    border-radius: 20px;
    background-color: lightgreen;
    padding: 10px;
    margin: 75px;
    margin-bottom: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25em
}

.projects {
    line-height: 1;
    border-style: dotted;   ;
    border-color: green;
    border-width: 5px;
    border-radius: 20px;
    background-color: lightgreen;
    padding: 10px;
    margin: 100px;
    margin-bottom: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25em
}

.footer {
    line-height: 1;
    border-style: solid;   ;
    border-color: blue;
    border-width: 5px;
    border-radius: 20px;
    background-color: orange;
    padding: 10px;
    padding-left: 20px;
    margin: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

a {
    text-decoration: none; 
}

a:hover {
    color: white; 
    text-decoration: underline; 
}
